body {
  font-family: Arial, sans-serif;
  background-color: #cfc3f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

select, input, button {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #bda8ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #bda8ff;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}